h1 {
    color:black;
}
title {
        color:black;
    }
body {
    background-color: black;
    height: 100vh;
    margin: 0rem;
    overflow: hidden;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
}

#blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    white-space: nowrap;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    margin: 0rem;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 3;
    text-decoration: underline;
    font-weight: 700;
}
    h1 span:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid black;
    }

    h1 span:nth-of-type(2):after {
        display: none;
    }

/* -- Links -- */

#links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 1rem;
}

.meta-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .meta-link > :is(span, a) {
        font-family: "Rubik", sans-serif;
        color: white;
    }

    .meta-link > .label {
        width: 100px;
        text-align: right;
    }

    .meta-link > a {
        text-decoration: none;
        outline: none;
    }

        .meta-link > a.source {
            color: rgb(94, 106, 210);
        }

        .meta-link > a:is(:hover, :focus) > i {
            color: white;
        }

        .meta-link > a.youtube {
            color: rgb(239, 83, 80);
        }

            .meta-link > a.youtube > i {
                padding-top: 0.2rem;
            }

        .meta-link > a > i {
            height: 1rem;
            line-height: 1rem;
        }
.yt {
    color: black;
    max-width: 130px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align:center;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B2B2B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    transition: background-color 0.0s ease;
}
.impressum {
    color: black;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

    .impressum h1 {
        color: black;
    }
.footer {
    position: page;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


    .footer a {
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        background-color: #ccc;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 3px;
    }
    
