nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B2B2B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    transition: background-color 0.0s ease;
}

header {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.description {
    margin-bottom: 2rem;
    color: white;
}

.description p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    text-align: justify;
}

.buttons1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-container1 {
    margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
    .buttons1 {
        display: none;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-container {
    margin: 0 1rem;
}

@media only screen and (max-width: 768px) {
    .buttons {
        display: none;
    }
}

a {
    color: #FF4500;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #2B2B2B;
    text-decoration: underline;
}

button {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.twitch {
    background-color: #9147FF;
    background-image: url('');
}

.twitch:hover {
    background-color: #2B2B2B;
}

youtube {
    background-color: #FF0000;
    background-image: url('');
}

youtube:hover {
    background-color: #2B2B2B;
}

.footer {
    position: page;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    background-color: #ccc;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.footer a:hover {
    background-color: #555;
}

.impressum1 {
    color: red;
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.impressum {
    color: black;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.impressum h1 {
    color: black;
}

.logo {
    position: fixed;
    top: 20px;
    right: 20px;
    border: solid #333;
    border-width: 9px;
    border-radius: 9px;
    padding: 0px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}

#yt-subscribe-button {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#yt-subscribe-button:hover {
    background-color: #cc0000;
}

#subscribe-container {
    width: 100%;
    text-align: center;
}

.yt {
    text-align: center;
    color: black;
    max-width: 130px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    float: revert;
}

body {
    margin: 0;
    padding-bottom: 05px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B2B2B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    transition: background-color 0.0s ease;
}

header {
    background-color: #333;
    padding: 0.5rem;
    text-align: center;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.description {
    margin-bottom: 2rem;
    color: white;
}

.description p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin: 0.5rem 0;
}

a {
    color: #FF4500;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #2B2B2B;
    text-decoration: underline;
}

button {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    nav a {
        padding: 10px 12px;
    }

    header {
        padding: 0.5rem;
    }

    main {
        padding: 1rem;
    }

    description p {
        text-align: left;
    }
}
.projects {
            text-align: center;
            color: white;
        }

        .project-buttons {
            margin-top: 20px;
        }

        .project-button {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .project-button:hover {
            background-color: #45a049;
        }